<%- include("partials/header.ejs") -%>
<div class="container">
    <!-- add data to database -->
    <section id="addData" class="hidden">
        <form action="/add" method="post" class="form">
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="midname" placeholder="Middle Name">
            <input type="text" name="lname" placeholder="Last Name">
            <input type="date" name="birthday" placeholder="Birthday">
            <label for="">Address</label>
            <input type="text" name="street" placeholder="street">
            <input type="text" name="city" placeholder="city">
            <input type="text" name="province" placeholder="province">
            <input type="text" name="zipcode" placeholder="zipcode">
            <!-- <input type="text" name="address" placeholder="Address"> -->
            
            <input type="submit" name="submit" value="Add">
        </form>
    </section>
    
    <section class="flex homeContainer">
        <button id="toggle" class="btn btn-primary">Add Record</button>
        <form action="/search" method="get" >
            <label for="">Search</label>
            <input type="text" name="search">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">First Name</th>
                    <th >Middle Name</th>
                    <th >Last Name</th>
                    <th >Address</th>
                    <th >Age</th>
                    <th >Birthday</th>
                    <th >option</th>
                </tr>
            </thead>
            <% if(locals.data){  %>
            <%data.forEach(function(user){ %>
            <tbody>
                <tr>
                    <td hidden><% user.id %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.middle_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.address %></td>
                    <td><%= user.age %></td>
                    <td><%= user.birth_date %></td>  
                    <td>
                        <a href="/user/<%- user.id%>" style="text-decoration: none;"><button>View</button></a>
                        <form action="/delete" method="post">
                            <input type="text" value="<%- user.id %>" name="deleteId" hidden>
                            <input type="button" id="del<%= user.id %>" name="delete" value="delete" onclick="deleteColumn('<%= user.id %>')">
                        </form>
                    </td>
                </tr>
            </tbody>
           
            <% }); }%> 
        </table>
    </section>

</div>

<script>
    document.getElementById("toggle").addEventListener("click", function() {
        console.log("test")
        document.getElementById("addData").classList.toggle("hidden");
    });
    function deleteColumn(id) {
        console.log(id)
        document.getElementById("del" + id).form.submit();
    }
</script>

                
           
             
                     
                    